<app-content-header />

<div class="container mx-auto p-4">
  <app-content-page-breadcrumbs [albumId]="albumId()" />

  @let album = albumResult();
  @if (album | isPending) {
    <span>Loading...</span>
  } @else if (album | hasFailed) {
    <span>Error: {{ album.error!.message }}</span>
  } @else {
    @if (album.data!.numChildAlbums > 0) {
      <app-content-albums-list [albumId]="albumId()" />

      @if (album.data!.numMediaItems > 0) {
        <div class="divider"></div>
      }
    }

    @if (album.data!.numMediaItems > 0) {
      <app-content-images-section [albumId]="albumId()" />
    }

    @if (album.data!.numChildAlbums === 0 && album.data!.numMediaItems === 0) {
      <div class="flex items-center justify-center flex-grow p-8">
        <div>
          <img
            src="/assets/content-page/empty-album.jpeg"
            alt="Empty album"
            class="w-64 h-64 mx-auto object-cover mb-8 rounded"
          />
          <p class="text-lg">
            There are no albums and no photos in this album.
          </p>
        </div>
      </div>
    }
  }
</div>
<app-content-media-viewer></app-content-media-viewer>
