.intro-section {
  display: flex;
  height: calc(100vh - 4rem);
  align-items: center;

  &__container {
    padding: 0 !important;
  }

  &__left-panel {
    margin-left: 6rem;
    margin-bottom: 6rem;
  }

  &__subtitle {
    margin: 1rem 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    object-position: left;
  }
}

@media (width <= 900px) {
  .intro-section {
    flex-direction: column;
    justify-content: center;
    height: 100%;

    &__left-panel {
      margin: 6rem;
    }

    &__image {
      object-fit: contain;
      object-position: top;
    }
  }
}
