<dialog #modal class="modal backdrop-blur-3xl">
  <!-- Top bar -->
  <div class="flex justify-end gap-4 absolute top-2 left-2 right-2 p-1">
    <!-- The close dialog button -->
    <button
      data-testid="media-viewer-close-button"
      class="btn btn-circle btn-outline border-none btn-sm"
      (click)="closeDialog()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18 18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>

  <!-- Messages area -->
  <div class="w-full overflow-y-auto h-full">
    <div class="max-w-2xl mx-auto pt-14 pb-28 flex flex-col gap-4">
      @for (message of messages(); track message) {
        <div
          class="flex"
          [ngClass]="{ 'justify-end': message.type === 'User' }"
        >
          <div class="max-w-[80%]">
            <div
              [ngClass]="{
                'bg-gray-200 dark:bg-gray-700 rounded-full px-4 py-3':
                  message.type === 'User',
              }"
            >
              {{ message.content }}
            </div>
            @if (message.reasoning) {
              <details>
                <summary
                  class="cursor-pointer px-3 py-2 text-sm font-medium text-gray-700 dark:text-gray-400"
                >
                  Reasoning
                </summary>
                <div
                  class="px-3 py-2 text-sm text-gray-600 dark:text-gray-400 space-y-2"
                >
                  @for (reason of message.reasoning; track reason) {
                    <p>{{ reason }}</p>
                  }
                </div>
              </details>
            }
          </div>
        </div>
      }
    </div>
  </div>

  <!-- Search bar -->
  <div class="absolute bottom-8 w-full max-w-2xl mx-auto flex">
    <label class="input input-lg flex-1 rounded-full px-4 py-3">
      <svg
        class="h-[1em] opacity-50"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <g
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width="2.5"
          fill="none"
          stroke="currentColor"
        >
          <circle cx="11" cy="11" r="8"></circle>
          <path d="m21 21-4.3-4.3"></path>
        </g>
      </svg>
      <input type="search" class="grow" placeholder="Search" />
      <kbd class="kbd kbd-sm">⌘</kbd>
      <kbd class="kbd kbd-sm">K</kbd>
    </label>
  </div>
</dialog>
