<div #breadcrumbContainer class="breadcrumbs text-sm">
  <ul>
    @for (breadcrumb of breadcrumbItems$ | async; track breadcrumb.data?.id) {
      @if (breadcrumb | isPending) {
        <li>
          <div class="skeleton h-4 w-1/3"></div>
        </li>
      } @else if (breadcrumb | hasFailed) {
        <li>Error! {{ breadcrumb.error!.message }}</li>
      } @else {
        <li>
          <a
            data-testid="breadcrumb-link"
            [routerLink]="breadcrumb.data!.routerLink"
            >{{ breadcrumb.data!.text }}</a
          >
        </li>
      }
    }
  </ul>
</div>
