@let results = breadcrumbItems();
@if (results | isPending) {
  <div class="skeleton h-4 w-1/3"></div>
} @else if (results | hasFailed) {
  <span>Error! {{ results.error! }}</span>
} @else {
  <div class="breadcrumbs text-sm">
    <ul>
      @for (breadcrumb of results.data!; track breadcrumb.id) {
        <li>
          <a
            data-testid="breadcrumb-link"
            [routerLink]="breadcrumb.routerLink"
            >{{ breadcrumb.text }}</a
          >
        </li>
      }
    </ul>
  </div>
}
